.screenshot_main {
    max-width: 1080px;
	width: 100%;
    position: absolute;
    bottom: 2.5rem;
}
.slide{
    max-width: 1080px;
   width: 100%;
	min-height: 8rem;
	overflow: hidden;
	position: relative;
}
.slide .img{
    overflow: hidden;
    position: absolute;
    transition: width 0.4s,height 0.4s,top 0.4s,left 0.4s,z-index 0.4s;
}
.slide .img p {
    width: 100%;
    height: 0.6rem;
    background: rgba(0,0,0,0.5);
    color: #fff;
    padding:0 0.4rem;
    line-height: .6rem;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 999;
    box-sizing: border-box;
}
.slide .img img{
    width: 100%;
    height: 100%;
}
.slide .img1{
    width: 40%;
    height: 3rem;
    top: 30%;
    left: -50%;
    z-index: 1;
}
.slide .img2{
    width: 60%;
    height: 4rem;
    top: 20%;
    left: -20%;
    z-index: 2;
    opacity:0.4;
	filter:"alpha(opacity=40)";
	-ms-filter:"alpha(opacity=40)";
}
.slide .img3{
width: 82%;
    height: 8rem;
    top: 0;
    left: 50%;
    z-index: 3;
    transform: translate(-50%,0);
}
.slide .img4{
    width: 60%;
    height: 4rem;
    top: 20%;
    left: 60%;
    z-index: 2;
  /*  opacity:0.4;
	filter:"alpha(opacity=40)";
	-ms-filter:"alpha(opacity=40)";   */
}
.slide .img5{
    width: 40%;
    height: 3rem;
    top: 30%;
    left: 110%;
    z-index: 1;
}
.slide-bt{
    max-width: 1080px;
    width: 100%;
    height: 1.49rem;
    background: rgba(0,0,0,0.7);
    position: fixed;
    left: 50%;
    z-index: 10;
    bottom: 0;
    transform: translate(-50%,0);
    text-align: center;
    line-height: 1.49rem;
}
.slide-bt span{
    display: inline-block;
    width: 0.88rem;
    height:0.88rem;
    margin: 5px;
    border-radius: 4px;
     background: url(../images/1.png) center center no-repeat;
    background-size: cover;
    opacity:0.5;
	filter:"alpha(opacity=50)";
	-ms-filter:"alpha(opacity=50)"; /* 旧版IE */
    vertical-align: middle;
    border: 1px solid rgba(0,0,0,0.7);
}
.slide-bt span:nth-child(1) {
    background: url(../images/1.png) center center no-repeat;
    background-size: cover;
}
.slide-bt span:nth-child(2) {
    background: url(../images/2.png) center center no-repeat;
    background-size: cover;
}
.slide-bt span:nth-child(3) {
    background: url(../images/3.png) center center no-repeat;
    background-size: cover;
}
.slide-bt span:nth-child(4) {
    background: url(../images/4.png) center center no-repeat;
    background-size: cover;
}
.slide-bt span:nth-child(5) {
    background: url(../images/5.png) center center no-repeat;
    background-size: cover;
}
.slide .slide-bt .on{
    opacity:1;
    filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
    border: 1px solid #1AB0FE;
    border-radius: .2rem; 
}
.screenshot_main button{
    position: absolute;
    top: 50%;
    left: 0rem;
    transform: translate(0,-50%);
    z-index: 999;
    border: 0;
    background: 0;
    color: #ccc;
    font-size: 0.6rem;
    outline: none;
    width: .2rem;
    height: .8rem;
}
.screenshot_main .r_btn {
	left:auto;
	right:0.1rem;
}
.screenshot_main button em {
    display: inline-block;
    width: .22rem;
    height: .41rem;
}
.screenshot_main .l_btn em {
    background-position: -1.62rem -.10rem;
}
.screenshot_main .r_btn em {
    background-position:-1.18rem -.10rem; 
}